@import url(../../helpers/colors.css);

.Title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--navy);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

@media (max-width: 900px) {
    .Title {
        font-size: 2rem;
    }
}

@media (max-width: 550px) {
    .Title {
        font-size: 1.2rem;
    }
}