

@import url(../../helpers/colors.css);

.Subtitle {
    font-size: 2.3rem;
    font-weight: 600;
    color: var(--navy);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

@media (max-width: 900px) {
    .Subtitle {
        font-size: 1.8rem;
    }
}

@media (max-width: 550px) {
    .Subtitle {
        font-size: 1.1rem;
    }
}