@import url(../../helpers/colors.css);

.arrow_container {
    width: 5rem;
    height: fit-content;
    position: absolute;
  }
  
  .arrows__down {
    bottom: 0;
    right: -7rem;
  }
  
  .arrows__up {
    transform: scale(-1, -1);
    bottom: -15rem;
    right: -10rem;
  }
  
  .arrows__text {
    color: var(--navyTint);
    font-size: 7rem;
    height: fit-content;
    width: fit-content;
    animation: float 3s ease-in-out infinite;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  
  .arrowsButton {
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 6.4rem;
    position: absolute;
    right: -1rem;
    bottom: -1rem;
  }
  
  .arrowsButton:hover {
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }

  .show{
    display: block;
  }
  
  @keyframes float {
    0% {
      transform: translatey(20px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(20px);
    }
  }
  