.Card {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  color: #244661;
  background-color: aliceblue;
  width: 25rem;
  height: fit-content;
  border: solid;
  border-width: 10px;
  border-color: #0a3152;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(100, 100, 100);
}

.titleContainer {
  background-color: #0a3152;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailsContainer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img {
  font-size: 2rem;
  align-self: center;
  color: aliceblue;
}

.title {
  font-size: 2rem;
  color: #ff7155;
  align-self: center;
  text-transform: uppercase;
}

.details li {
  margin: 1rem 0;
  font-size: 1rem;
}

.price {
  font-size: 1.5rem;
  align-self: center;
  color: #ff7155;
}

.Button {
  align-self: center;
  margin: 2rem 0;
}
