.CardsSubsection {
    padding-bottom: 7rem;
}

.subtitle {
    margin: 5rem 1.5rem;
}

.hide {
    display: none;
}

@media (max-width: 900px) {
    .subtitle {
        margin: 3rem 1.5rem;
    }
}


@media (max-width: 550px) {
    .CardsSubsection {
        padding-bottom: 2rem;
    }
    .subtitle {
        margin: 1.5rem 1.5rem;
    }
}