.CardsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    row-gap: 8vw;
}

@media (max-width: 1530px) {
    .CardsGrid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1050px) {
    .CardsGrid {
        grid-template-columns: auto;
    }
}

@media (max-width: 900px) {
    .CardsGrid {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 800px) {
    .CardsGrid {
        grid-template-columns: auto;
    }
}

@media (max-width: 550px) {
    .CardsGrid {
        row-gap: 10vw;
    }
}

@media (max-width: 300px) {
    .CardsGrid {
        row-gap: 15vw;
    }
}