@import url("../../helpers/colors.css");

.Card {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: var(--navy);
  background-color: var(--blueTint90);
  border: solid;
  border-width: 3px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  justify-self: center;
  /* animation: card 2s ease-out 0s backwards;  */
}

.hide {
  display: none;
}

.fadeIn {
  animation: fadeIn 0.75s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* @keyframes card {
	0% { transform: perspective(150rem) rotatey(.5turn) }
} */

.Card__eng {
  border-color: var(--navy);
}

.Card__jp {
  border-color: var(--cinnabar);
}

.Card__ro {
  border-color: var(--orange);
}

.titleContainer {
  height: 6rem;
  padding: 1rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* animation: 
		head 1s ease-out 0s backwards; */
}

/* @keyframes head {
	0% { transform: translate(-100%) skewx(35deg) }
} */

.titleContainer__eng {
  background-color: var(--navy);
  color: var(--blueTint30);
}

.titleContainer__jp {
  background-color: var(--cinnabar);
  color: var(--cinnabarTint90);
}

.titleContainer__ro {
  background-color: var(--orange);
  color: var(--navy);
}

/* --------------------- CARD FONT-SIZE --------------------- */
.title,
.price {
  font-size: 2rem;
}
.lessons,
.details li,
.total,
.selectTimeframe,
.dropdown {
  font-size: 1.5rem;
}
.slash {
  font-size: 3rem;
}
.timeframe {
  font-size: 1.2rem;
  max-width: 6.5rem;
}
/* ---------------------------------------------------------------- */

.title {
  text-transform: uppercase;
  text-align: center;
}

.lessons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.detailsContainer {
  padding: 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  margin: 0;
  list-style-position: inside;
  padding-left: 0rem;
}

.details li {
  margin: 1rem 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: fit-content;
  margin-top: 1rem;
}

.priceContainer {
  align-self: center;
  color: var(--cinnabarTint30);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  text-align: center;
}

.selectTimeframe {
  margin: 0 auto 1rem auto;
}

.dropdown {
  border-radius: 5px;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  margin-left: auto;
  margin-right: auto;
}

.dropdown,
.dropdown:checked,
.dropdown:focus {
  background-color: var(--blueTint90);
  border-color: var(--navy);
  color: var(--navy);
}

select:focus {
  outline-color: var(--navy);
}

option {
  background-color: var(--blueTint90);
}

option:nth-child(2) {
  color: var(--navy);
}

.timeframe {
  color: var(--navy);
}

.total {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: center;
}

.Button {
  align-self: center;
  margin-top: 1.3rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 1050px) {
  .Card {
    max-width: 34rem;
  }
}

@media (max-width: 900px) {
  .Card {
    max-width: 22rem;
  }
  .titleContainer {
    height: 3.5rem;
    padding: 0.5rem 1rem;
  }
  .detailsContainer {
    padding: 0 2rem;
  }
  /* --------------------- CARD FONT-SIZE --------------------- */
  .title,
  .price {
    font-size: 1.7rem;
  }
  .lessons,
  .details li,
  .total,
  .selectTimeframe,
  .dropdown {
    font-size: 1.2rem;
  }
  .slash {
    font-size: 2.2rem;
  }
  .timeframe {
    font-size: 1rem;
  }
  /* ---------------------------------------------------------------- */
}

@media (max-width: 800px) {
  .Card {
    max-width: 26rem;
  }
}

@media (max-width: 550px) {
  .Card {
    margin: 0 1.5rem;
    max-width: 23rem;
  }
  .titleContainer {
    height: 3rem;
    padding: 0.5rem;
  }
  .title {
    align-items: start;
  }
  .detailsContainer {
    padding: 0 1.5rem;
  }

  /* --------------------- CARD FONT-SIZE --------------------- */
  .title,
  .price {
    font-size: 1.7rem;
  }
  .lessons,
  .details li,
  .total,
  .selectTimeframe,
  .dropdown {
    font-size: 1rem;
  }
  .slash {
    font-size: 1.8rem;
  }
  .timeframe {
    font-size: 0.8rem;
  }

  /* ---------------------------------------------------------------- */
}

@media (max-width: 400px) {
  .titleContainer {
    height: 5.5rem;
  }
  .priceContainer {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media (max-width: 350px) {
  .selectTimeframe {
    margin: 0 1.5rem 1rem 1.5rem;
  }
}

@media (max-width: 305px) {
  .dropdown,
  .option,
  .total {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .price {
    font-size: 1.3rem;
  }
}
