.CardsSubsection {
    padding-bottom: 7rem;
}

.subtitle {
    margin-bottom: 3rem;
}

.hide {
    display: none;
}

@media (max-width: 550px) {
    .CardsSubsection {
        padding-bottom: 2rem;
    }
}