.heroSection {
    height: 100vh;
    position: relative;
    background-image: url("../../images/backgroundRight.png");
    background-size: cover;
    background-position: bottom;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.halfBackground {
    content: "";
    position: absolute;
    width: 60vw;
    height: 100vh;
    transition: all .2s linear;
}

.halfBackground__left {
    top: 0;
    left: 0;
    z-index: 2;
    background-image: url("../../images/backgroundLeft.jpg");
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 100%, 66.6% 100%, 100% 0%);
    transition: all .2s linear;
}

.halfBackground__right {
    top: 0;
    right: 0;
    z-index: 1;
    clip-path: polygon(33.4% 0%, 0% 100%, 100% 100%, 100% 0%);
    transition: all .2s linear;
}

.coverContentContainer {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    transition: all .2s linear;
}

.coverContentContainer__right {
    margin-left: auto;
    margin-right: 0;
}

.coverText{
    content: "";
    width: 100%;
    color: aliceblue;
    align-items: center;
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.titleImageCategoriesContainer {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
}

.coverImage {
    height: 15vh;
    border-radius: 50%;
    border: solid;
    border-width: 20px;
}

.coverImageLeft {
    background-color: #ff7155;
    color: #ff7155;
}

.coverImageRight {
    background-color: #0a3152;
    color: #0a3152;
}

.title {
    height: 30vh;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 6vh 1rem;
}

.coursesCategories button {
    font-size: 3rem;
}

.description {
    height: 75vh;
    font-size: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: center;

    transition: width .2s linear;
    transition-delay: 0s;
    -webkit-mask-image: linear-gradient(to left, transparent 40%,  aliceblue 60%);
    -webkit-mask-size: 250% 100%;
    animation: show 1s linear forwards;
    animation-direction: reverse;
}

.description li {
    text-align: left;
    padding: 1.5rem 0;
}

@keyframes show {
    from {
      -webkit-mask-position: left;
    }
    to {
      -webkit-mask-position: right;
    }
}