.languageCoursesSection {
    height: fit-content;
    background-color: #ede6d3;
    padding: 5rem 5rem 10rem 5rem;
    position: relative;
}

.firstArrow,
.secondArrow {
    color: #0a3152;
    font-size: 7rem;
    position: absolute;
    height: fit-content;
    width: fit-content;
    transform: rotate(-180deg);
}

.firstArrow {
    top: 72vh;
    right: 1rem;
}

.secondArrow {
    top: 75vh;
    right: 1rem;
}