@import url("../helpers/colors.css");

.Footer {
  height: fit-content;
  font-size: 1.3rem;
  color: var(--navyTint70);
  background-color: var(--navyShadow50);
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 0.2rem;
}

.phoneIcon,
.mailIcon {
  margin-right: 1.5rem;
}

.email {
  width: fit-content;
  transition: transform 0.3s ease;
}

.email:hover .mailIcon,
.email:active .mailIcon {
  color: var(--navyTint90);
  transform: scale(1.2);
}

.social {
  grid-column: 3;
  width: fit-content;
  transition: transform 0.3s ease;
}

.social:hover, .social:active {
  transform: scale(1.2);
}

.copyright {
  font-size: 1rem;
  grid-column: 1/4;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--navyTint70);
  background-color: var(--navyShadow50);
}

.contact:hover, .contact:active,
.faq:hover, .faq:active,
.about:hover, .about:active,
.email:hover, .email:active {
  color: var(--navyTint90);
}