.html {
    font-size: 100%;
}

.header {
    display: grid;
    row-gap: none;
    column-gap: none;
    grid-template-columns: 1fr 3fr 1fr 1fr 2.5fr 2.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 90px;
    width: 100%;
    z-index: 3;
    position: fixed;
}

.header__transparent {
    background-color: transparent;
}

.header__opaque {
    background-color: #0a3152;
}

/* LOGO */

.logoWithText {
    display: flex;
    align-items: center;
    width: 20rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 4rem;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logoName{
    display:flex;
    justify-content: center;
    color: aliceblue;
    font-size: 2.5rem;
}

.logoName p {
    margin: 0;
}

/* BUTTONS */

.button {
    font-size: 2.5rem;
    font-family: 'Nanum Brush Script', cursive;
    padding: 1rem;
    background-color: transparent;
    border-radius: 20%;
    cursor:pointer;
}

/* .button:hover {
    
} */

.button__menu {
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: aliceblue;
    border-radius: 0%;
    border: none;
}

.button__underline {
    text-decoration: underline;
    text-decoration-color: lightblue;
}

.button__empty {
    color: aliceblue;
    background-color: transparent;
    border-color: lightskyblue;
}

.button__full {
    color: darkblue;
    background-color: lightskyblue;
    border-color: transparent;
}

.dropdown{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    translate: 0px 74px;
}

.dropdown__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.stretch {
    width: 100%;
    height: 100%;
}

.padding {
    padding-top: 18px;
    padding-bottom: 18px;
}