.heroSection {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-size: cover;
    position: relative;
}

.heroSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85vh;
    transform: translate(0, 15vh);
}

.title, .slogan {
    color: aliceblue;
    background-color: transparent;
    position: relative;
}

.title {
    font-size:6rem;
    text-transform: uppercase;
}

.slogan {
    font-size:5rem;
}
