.logoWithText {
    display: flex;
    align-items: center;
    width: 20rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 4rem;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.logoName{
    display:flex;
    justify-content: center;
    color: aliceblue;
    font-size: 2rem;
}

.logoName p {
    margin: 0;
}