.logoWithText {
    display: flex;
    align-items: center;
    width: 20rem;
}

.logo {
    height: 4rem;
    margin-right: 1rem;
}

.logoName{
    display:flex;
    gap: 0.7rem;
    justify-content: center;
    color: aliceblue;
    font-size: 2rem;
}

.logoName p {
    margin: 0;
}

@media (max-width: 1470px) {
}