@import url("../../../../helpers/colors.css");

.aboutSection {
  background-color: var(--blueTint10);
  padding: 3rem 5rem 5rem 5rem;
}

.description {
  color: var(--navy);
  font-size: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 900px) {
  .aboutSection {
    padding: 2rem 4rem 4rem 4rem;
  }
  .description {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .aboutSection {
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  }
  .description {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

