@import url('../../../../helpers/colors.css');

.aboutSection {
    height: fit-content;
    background-color: var(--blueTint10);
    padding: 3rem 5rem 5rem 5rem;
}

.description {
    color: var(--navy);
    font-size: 2rem;
    margin-top: 4rem;
    height: 65vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
