@import url("../../../../helpers/colors.css");

.contactSection {
  /* box-sizing: content-box; */
  background-color: var(--blueTint90);
  padding: 2.5rem 5rem 2rem 5rem;
}

.title {
  /* box-sizing: content-box; */
  margin-bottom: 1.5rem;
}

@media (max-width: 550px) {
  .contactSection{
    padding: 1.5rem 2.5rem 1rem 2.5rem;
  }
}
