@import url("../../../../helpers/colors.css");

.faqSection {
  /* box-sizing: content-box; */
  background-color: var(--orangeTint90);
  padding: 3rem 5rem 5rem 5rem;
}

.description {
  color: var(--navy);
  font-size: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
}

.questionAnswerContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

@media (max-width: 900px) {
  .description {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .faqSection {
    padding: 2rem 4rem 4rem 4rem;
  }
}

@media (max-width: 550px) {
  .faqSection {
    padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  }

  .description {
    font-size: 1rem;
    row-gap: 2rem;
  }

  .questionAnswerContainer {
    row-gap: 1rem;
  }
}
