@import url("../../../../helpers/colors.css");

.faqSection {
  /* box-sizing: content-box; */
  background-color: var(--orangeTint90);
  padding: 5rem;
}

.description {
  color: var(--navy);
  font-size: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
}

.questionAnswerContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

@media (max-width: 900px) {
  .faqSection {
    padding: 3rem;
  }
  .description {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

@media (max-width: 550px) {
  .faqSection {
    padding: 1.5rem;
  }
  .description {
    font-size: 1rem;
    row-gap: 2rem;
    margin-top: 1.5rem;
  }
  .questionAnswerContainer {
    row-gap: 1rem;
  }
}
