@import url("../../../../helpers/colors.css");

.heroSection {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../../../images/backgroundRight.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.halfBackground {
  transition: all 0.2s linear;
  content: "";
  height: 100vh;
}

.halfBackgroundLeft {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../images/backgroundLeft.jpg");
  background-size: cover;
}

.titleImageContainer {
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10vh 0rem 0 0rem;
}

.titleImageContainer__left {
  left: 10vw;
}

.titleImageContainer__right {
  right: 10vw;
}

.coverContainer {
  height: 9rem;
  width: 9rem;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 50%;
  display: flex;
}

.coverLeft {
  background-color: var(--cinnabarTint10);
  justify-content: center;
}

.coverRight {
  background-color: var(--navyTint10);
  flex-direction: column;
}

.iconLeft {
  font-size: 6rem;
  color: var(--textLight);
  align-self: center;
}

.iconRight {
  font-size: 3rem;
}

.title {
  display: flex;
  flex-direction: column;
  color: var(--textLight);
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  align-content: center;
  display: flex;
  align-items: center;
}

.description {
  position: absolute;
  top: 0;
  color: var(--textLight);
  height: 100%;
  width: 20vw;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  transition: width 0.2s linear;
  transition-delay: 0s;
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 40%,
    var(--textLight) 60%
  );
  -webkit-mask-size: 250% 100%;
  animation: show 1s linear forwards;
  animation-direction: reverse;
}

.description__left {
  left: 27vw;
}

.description__right {
  right: 27vw;
}

.description li {
  text-align: left;
  padding: 1rem 0;
}

/* GEARS ANIMATION */

.gear1 {
  color: var(--blue);
}

.gear2 {
  color: var(--blueTint20);
}

.gear3 {
  color: var(--blueTint40);
}

.gear1,
.gear2,
.gear3 {
  text-align: center;
  animation: spin 2.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.gear1 {
  transform: translate(-0.5rem, 1rem) rotate(0deg);
  animation-name: spin1;
}

.gear2 {
  transform: translate(1rem) rotate(0deg);
  animation-name: spin2;
}

.gear3 {
  transform: translate(-0.5rem, -1rem) rotate(0deg);
  animation-name: spin3;
}

@keyframes spin1 {
  0% {
    transform: translate(-0.5rem, 1rem) rotate(0deg);
  }
  100% {
    transform: translate(-0.5rem, 1rem) rotate(359deg);
  }
}

@keyframes spin2 {
  0% {
    transform: translate(1rem) rotate(0deg);
  }
  100% {
    transform: translate(1rem) rotate(-359deg);
  }
}

@keyframes spin3 {
  0% {
    transform: translate(-0.5rem, -1rem) rotate(0deg);
  }
  100% {
    transform: translate(-0.5rem, -1rem) rotate(359deg);
  }
}

/* HALF BACKGROUND ANIMATION */

.hide {
  display: none;
}

.show {
  display: flex;
}

.middle {
  width: 60vw;
  clip-path: polygon(0% 0%, 0% 100%, 66.6% 100%, 100% 0%);
}

.expandLeft {
  width: 70vw;
  clip-path: polygon(0% 0%, 0% 100%, 71.42% 100%, 100% 0%);
}

.contractLeft {
  width: 50vw;
  clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 100% 0%);
}

.pushTitleLeft {
  left: 5vw;
}

.pullTitleLeft {
  left: 10vw;
}

.pushTitleRight {
  right: 5vw;
}

.pullTitleRight {
  right: 10vw;
}

/* DESCRIPTION ANIMATION */

@keyframes show {
  from {
    -webkit-mask-position: left;
  }
  to {
    -webkit-mask-position: right;
  }
}

/* MOBILE HERO SECTION */

@media (max-width: 1915px) {
  .pushTitleLeft {
    left: 4vw;
  }

  .pushTitleRight {
    right: 4vw;
  }

  .description {
    font-size: 1.7rem;
    width: 23vw;
  }

  .description li {
    padding: 0.8rem 0;
  }
}

@media (max-width: 1775px) {
  .expandLeft {
    width: 80vw;
  }

  .contractLeft {
    width: 40vw;
  }

  .pushTitleLeft {
    left: 3vw;
  }

  .pushTitleRight {
    right: 3vw;
  }

  .title {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.5rem;
    width: 29vw;
  }

  .description__left {
    left: 25vw;
  }

  .description__right {
    right: 25vw;
  }

  .description li {
    padding: 0.7rem 0;
  }
}

@media (max-width: 1550px) {
  .expandLeft {
    width: 78vw;
  }

  .contractLeft {
    width: 42vw;
  }

  .title {
  }

  .description__left {
    left: 27vw;
  }

  .description__right {
    right: 27vw;
  }
}

@media (max-width: 1380px) {
  .expandLeft {
    width: 78vw;
  }

  .contractLeft {
    width: 42vw;
  }

  .coverContainer {
    height: 6rem;
    width: 6rem;
  }

  .iconLeft {
    font-size: 4rem;
  }

  .iconRight {
    font-size: 2.1rem;
  }

  .gear1 {
    transform: translate(-0.1rem, 0.5rem) rotate(0deg);
    animation-name: spin1;
  }

  .gear2 {
    transform: translate(0.7rem) rotate(0deg);
    animation-name: spin2;
  }

  .gear3 {
    transform: translate(-0.1rem, -0.5rem) rotate(0deg);
    animation-name: spin3;
  }

  @keyframes spin1 {
    0% {
      transform: translate(-0.1rem, 0.5rem) rotate(0deg);
    }
    100% {
      transform: translate(-0.1rem, 0.5rem) rotate(359deg);
    }
  }

  @keyframes spin2 {
    0% {
      transform: translate(0.7rem) rotate(0deg);
    }
    100% {
      transform: translate(0.7rem) rotate(-359deg);
    }
  }

  @keyframes spin3 {
    0% {
      transform: translate(-0.1rem, -0.5rem) rotate(0deg);
    }
    100% {
      transform: translate(-0.1rem, -0.5rem) rotate(359deg);
    }
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.3rem;
  }
}

/* --------------------------------------------------- */

@media (max-width: 1210px) {
  .show {
    display: none;
  }

  .expandLeft,
  .contractLeft {
    width: 60vw;
    clip-path: polygon(0% 0%, 0% 100%, 66.6% 100%, 100% 0%);
  }

  .pushTitleLeft,
  .pullTitleLeft {
    left: 5vw;
  }

  .pushTitleRight,
  .pullTitleRight {
    right: 5vw;
  }
}

/* -------------------------------------------------------------- */

@media (max-width: 900px) {
  .expandLeft,
  .contractLeft,
  .middle {
    /* width: 60vw;
    clip-path: polygon(0% 0%, 0% 100%, 66.6% 100%, 100% 0%); */
    height: 60vh;
    width: 100%;
    clip-path: polygon(0% 0%, 0% 66.6%, 100% 100%, 100% 0%);
  }

  .titleImageContainer {
    display: grid;
    grid-template-columns: auto auto;
    height: fit-content;
    width: 100%;
    row-gap: 10vh;
  }

  .button {
    text-align: center;
    grid-row: 1/3;
    margin: 1rem;
  }

  .button__top {
    grid-column: 1;
  }

  .button__bottom {
    grid-column: 2;
  }

  .container__top, .container__bottom {
    display: flex;
    justify-content: center;
  }

  .container__top {
    grid-column: 2;
    grid-row: 1;
  }

  .container__bottom {
    grid-column: 1;
    grid-row: 1;
  }

  .title {
    grid-column: 2;
    grid-row: 2;
    margin: 1rem
  }

  .title__right {
    grid-column: 1;
    grid-row: 2;
  }

  .titleImageContainer__left {
    left: 0vw;
    top: 3vh;
  }

  .titleImageContainer__right {
    right: 0vw;
    transform: translateY(56vh);
  }

  .coverContainer {
    height: 5rem;
    width: 5rem;
  }

  .iconLeft {
    font-size: 3rem;
  }

  .iconRight {
    font-size: 1.8rem;
  }

  .gear1 {
    transform: translate(-0.1rem, 0.5rem) rotate(0deg);
    animation-name: spin1;
  }

  .gear2 {
    transform: translate(0.7rem) rotate(0deg);
    animation-name: spin2;
  }

  .gear3 {
    transform: translate(-0.1rem, -0.5rem) rotate(0deg);
    animation-name: spin3;
  }

  @keyframes spin1 {
    0% {
      transform: translate(-0.1rem, 0.5rem) rotate(0deg);
    }
    100% {
      transform: translate(-0.1rem, 0.5rem) rotate(359deg);
    }
  }

  @keyframes spin2 {
    0% {
      transform: translate(0.7rem) rotate(0deg);
    }
    100% {
      transform: translate(0.7rem) rotate(-359deg);
    }
  }

  @keyframes spin3 {
    0% {
      transform: translate(-0.1rem, -0.5rem) rotate(0deg);
    }
    100% {
      transform: translate(-0.1rem, -0.5rem) rotate(359deg);
    }
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1.3rem;
  }
}

/* ---------------------------------------------------------------- */

@media (max-width: 550px) {
  .coverContainer {
    height: 4rem;
    width: 4rem;
  }

  .iconLeft {
    font-size: 2.5rem;
  }

  .iconRight {
    font-size: 1.4rem;
  }

  .gear1 {
    transform: translate(-0.1rem, 0.5rem) rotate(0deg);
    animation-name: spin1;
  }

  .gear2 {
    transform: translate(0.7rem) rotate(0deg);
    animation-name: spin2;
  }

  .gear3 {
    transform: translate(-0.1rem, -0.5rem) rotate(0deg);
    animation-name: spin3;
  }

  @keyframes spin1 {
    0% {
      transform: translate(-0.1rem, 0.5rem) rotate(0deg);
    }
    100% {
      transform: translate(-0.1rem, 0.5rem) rotate(359deg);
    }
  }

  @keyframes spin2 {
    0% {
      transform: translate(0.7rem) rotate(0deg);
    }
    100% {
      transform: translate(0.7rem) rotate(-359deg);
    }
  }

  @keyframes spin3 {
    0% {
      transform: translate(-0.1rem, -0.5rem) rotate(0deg);
    }
    100% {
      transform: translate(-0.1rem, -0.5rem) rotate(359deg);
    }
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
