@import url("../../../../helpers/colors.css");

.heroSection {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url("../../../../images/backgroundRight.jpg");
    background-size: cover;
    background-position: bottom;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.halfBackground {
    content: "";
    position: absolute;
    width: 60vw;
    height: 100vh;
    transition: all .2s linear;
}

.halfBackground__left {
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../../../../images/backgroundLeft.jpg");
    background-size: cover;
    clip-path: polygon(0% 0%, 0% 100%, 66.6% 100%, 100% 0%);
    transition: all .2s linear;
}

.halfBackground__right {
    top: 0;
    right: 0;
    z-index: 1;
    clip-path: polygon(33.4% 0%, 0% 100%, 100% 100%, 100% 0%);
    transition: all .2s linear;
}

.coverContentContainer {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    transition: all .2s linear;
}

.coverContentContainer__right {
    margin-left: auto;
    margin-right: 0;
}

.coverText{
    content: "";
    width: 100%;
    color: var(--textLight);
    align-items: center;
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.titleImageCategoriesContainer {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
}

.coverContainer {
    height: 9rem;
    width: 9rem;
    min-height: fit-content;
    min-width: fit-content;
    border-radius: 50%;
    display: flex;
}

.coverLeft {
    background-color: var(--cinnabarTint10);
    justify-content: center;
}

.coverRight {
    background-color: var(--navyTint10);
    flex-direction: column;
}

.icon {

}

.iconRight {
    font-size: 3rem;
}

.iconLeft {
    font-size: 6rem;
    color: var(--textLight);
    align-self: center;
}

.gear1 {
    color: var(--blue);
}

.gear2 {
    color:  var(--blueTint20);
}

.gear3 {
    color: var(--blueTint40);
}

.gear1, .gear2, .gear3 {
    animation: spin 2.5s infinite linear;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
}

.gear1 {
    transform: translate(-0.5rem, 1rem) rotate(0deg);
    animation-name: spin1;
}

.gear2 {
    transform: translate(1rem) rotate(0deg);
    animation-name: spin2;
}

.gear3 {
    transform: translate(-0.5rem, -1rem) rotate(0deg);
    animation-name: spin3;
}

@keyframes spin1 {
    0% {
        transform: translate(-0.5rem, 1rem) rotate(0deg);
    }
    100% {
        transform: translate(-0.5rem, 1rem) rotate(359deg);
    }
}

@keyframes spin2 {
    0% {
        transform: translate(1rem) rotate(0deg);
    }
    100% {
        transform: translate(1rem) rotate(-359deg);
    }
}

@keyframes spin3 {
    0% {
        transform: translate(-0.5rem, -1rem) rotate(0deg);
    }
    100% {
        transform: translate(-0.5rem, -1rem) rotate(359deg);
    }
}


.title {
    height: 30vh;
    background-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    align-content: center;
    display: flex;
    align-items: center;
    margin: 6vh 1rem;
}

.coursesCategories button {
    font-size: 3rem;
}

.description {
    height: 100%;
    font-size: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: center;

    transition: width .2s linear;
    transition-delay: 0s;
    -webkit-mask-image: linear-gradient(to left, transparent 40%, var(--textLight) 60%);
    -webkit-mask-size: 250% 100%;
    animation: show 1s linear forwards;
    animation-direction: reverse;
}

.description li {
    text-align: left;
    padding: 1.5rem 0;
}

@keyframes show {
    from {
      -webkit-mask-position: left;
    }
    to {
      -webkit-mask-position: right;
    }
}

/* ANIMATION */



/* MOBILE HERO SECTION */

@media (max-width: 900px) {
    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1.3rem
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem
    }
}