@import url("../../../../helpers/colors.css");

.languageCoursesSection {
  background-color: var(--orangeTint90);
  padding: 5rem 0rem;
}

.description,
.cardsDescription {
  color: var(--navy);
}

.description {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
}

.buttonsContainer {
  margin: 1rem 0 6rem 0;
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 1rem;
  font-size: 2rem;
  padding: 0.1rem 0.8rem;
  border-radius: 20px;
  border-width: 3px;
  cursor: pointer;
  transition: background-color 0.2s linear, border-color 0.2s linear,
    color 0.2s linear;
  width: 10rem;
  text-align: center;
}

.empty,
.selected_ro,
.selected_eng,
.selected_jp {
  border-style: solid;
  border-radius: 12px;
}

.empty {
  background-color: transparent;
  color: var(--navyTint10);
  border-color: var(--navyTint10);
}

.empty:hover,
.empty:active {
  color: var(--blue);
  border-color: var(--blue);
}

.selected_ro,
.selected_eng,
.selected_jp {
  color: var(--textLight);
}

.selected_ro {
  background-color: var(--orangeTint20);
  border-color: var(--orangeTint20);
}
.selected_eng {
  background-color: var(--navyTint20);
  border-color: var(--navyTint20);
}
.selected_jp {
  background-color: var(--cinnabarTint20);
  border-color: var(--cinnabarTint20);
}
.hide {
  display: none;
}

@media (max-width: 900px) {
  .languageCoursesSection {
    padding: 3rem 0rem;
  }
  .description {
    font-size: 1.5rem;
    margin: 3rem;
  }
  .button {
    font-size: 1.5rem;
    width: 7rem;
  }
  .buttonsContainer {
    margin: 1rem 0 3rem 0;
  }
}

@media (max-width: 550px) {
  .languageCoursesSection {
    padding: 1.5rem 0rem;
  }
  .description {
    font-size: 1rem;
    margin: 1.5rem;
  }
  .buttonsContainer {
    justify-content: space-evenly;
    margin: 0.5rem 0 2rem 0;
  }
  .button {
    margin: 0;
    font-size: 1.2rem;
    width: 6rem;
  }
}

@media (max-width: 400px) {
  .buttonsContainer {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
