@import url("../../../../helpers/colors.css");

.languageCoursesSection {
  background-color: var(--orangeTint90);
  padding: 5rem 0rem;
}

.description,
.cardsDescription {
  color: var(--navy);
}

.description {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
}

@media (max-width: 900px) {
  .languageCoursesSection {
    padding: 3rem 0rem;
  }
  .description {
    font-size: 1.5rem;
    margin: 3rem;
  }
}

@media (max-width: 550px) {
  .languageCoursesSection {
    padding: 1.5rem 0rem;
  }
  .description {
    font-size: 1rem;
    margin: 1.5rem;
  }
}