@import url("../../../../helpers/colors.css");

.programmingSection {
  display: flex;
  flex-direction: column;
  background-color: var(--blueTint10);
  padding: 5rem;
}

.description {
  height: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  line-height: 150%;
}

@media (max-width: 900px) {
  .programmingSection {
    padding: 3rem;
  }
  .description {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

@media (max-width: 550px) {
  .programmingSection {
    padding: 1.5rem;
  }
  .description {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}
